.error {
    border: 2px solid red;
    color: red;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: lightgray;
}

.info {
    border: 2px solid green;
    color: green;
    border-radius: 10px;
    width: 50%;
    margin: auto;
    background-color: lightgray;
}

.blog {
    border: 1px solid black;
    margin-bottom: 1em;
}

.blog-title {
    font-size: large;
    font-weight: 600;
    margin-top: 0.5em;
}

.toggle-details {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: #1cc9d8;
    border: 1px solid black;
    border-radius: 10px;
    width: 5em;
    cursor: pointer;
}

.like-button {
    background-color: #FF5B96;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 1em;
}